# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used open-source development tools for Data Science
- Show basic examples of using Python to evaluate arithmetic expressions

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow

|Data Science Tools|
|-|
|VSCode|
|Rstudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Tyler Brender